* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    position: relative;
    background-image: url(img/fireball-fire.gif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

div.racket {
    position: absolute;
    background-image: url(img/batte.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1vw;
    height: 15vh;
    transition: top 0.25s;
}

div.racket#P1 {
    top: 0vh;
    left: 5vw;
}

div.racket#P2 {
    top: 0vh;
    left: 95vw;
}

#ball {
    position: absolute;
    top: 0;
    left: 0;
    width: 1vh;
    height: 1vh;
    background: white;
    box-shadow: 0 0 4px white;
    border-radius: 50%;
}