* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(216, 42, 201, 0.952);
    text-shadow: 0 0 20px;
    padding: 1em;
}

.red {
    color: rgb(255, 166, 0);
}

.blue {
    color: rgb(0, 162, 255);
}

p button {
    border: 1px solid rgba(216, 42, 201, 0.952);
    background: transparent;
    color: rgba(216, 42, 201, 0.952);
    padding: 1em;
    margin: 0 2em;
    text-transform: uppercase;
    text-shadow: 0 0 8px;
    box-shadow: 0 0 8px;
    cursor: pointer;
    transition: 0.3s;
}

p button:hover {
    text-shadow: 0 0 16px;
    box-shadow: 0 0 16px;
}

main {
    position: relative;
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

div.racket {
    position: absolute;
    width: 1vw;
    height: 15vh;
    transition: top 0.25s;
}

div.racket#P1 {
    background: rgb(255, 166, 0);
    box-shadow: 0 0 12px rgb(255, 166, 0);;
    top: 45vh;
    left: 5vw;
}

div.racket#P2 {
    background: rgb(0, 162, 255);
    box-shadow: 0 0 12px rgb(0, 162, 255);
    top: 45vh;
    left: 95vw;
}

#ball {
    position: absolute;
    top: 0;
    left: 0;
    width: 1vh;
    height: 1vh;
    border-radius: 50%;
    transition: background-color 0.3s ease-out,
    box-shadow 0.3s ease-out;
}

.radiant {
    box-shadow: 0 0 24px white !important;
    background: white !important;
}

.boum {
    animation: boum 2s forwards;
}

@keyframes boum {

    100% {
        transform: scale(50);
        opacity: 0;
    }

}

/* #ball::after {
    content: "";
    position: absolute;
    top: -150%;
    left: -150%;
    width: 5vh;
    height: 5vh;
    background-image: url(img/staticBall.gif);
    background-repeat: no-repeat;
    background-size: cover;
} */

/*** Mobile PAD ***/
div.mobilePads {
    visibility: hidden;
}

@media screen and (max-width: 1200px) {

    button {
        z-index: 20;
    }

    div.mobilePads {
        visibility: visible;
        position: absolute;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 50vh);
        z-index: 15;
    }

}